boto3 > 1.9.201
botocore == 1.12.208
connexion==1.5.2
tenacity==5.0.2
requests==2.20.0
cromwell-tools>=2.2.3,<3
termcolor
hca >= 6.3.0, <7
psycopg2-binary==2.7.5
dcplib >= 3.2.1, < 4
PyGithub
cryptography>=3.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
